body {
    background-color: rgb(76, 20, 84);
}
.login-container {
    margin-top: 100px;
    
}

.login-form {
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    
}

.logo {
    width: 220px;
    height: 110px;
    text-align: center;
    padding: 10px;
}

.logo-row {
    text-align: center;
  }

a {
    text-decoration: none;
    
}
  
a:hover{
    text-decoration: underline;
}

button {
        margin-top: 30px;
        margin-bottom: 10px;
        
       
  }